.press-box {
    border: 0px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 15px black;
    background-color: blanchedalmond;

    padding: 5px 5px 5px 5px;
}

.press-box .press-box-header {
    background-color: white;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
}

.press-box .press-box-content {
    margin: 5px 5px 5px 5px;
}


@media (max-width: 800px) {
    section.content {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .press-box {
        margin-right: 5px;
        margin-left: 5px;
    }
  }